<!-- <hr>
<div class="contact">
  <h1>Change Contact Number</h1>
  <% if(successCont.length>0){ %>
    <div class="alert-success alert alert-dismissible fade show" role="alert" style="font-size: 18px;">
        <%= successCont %>
        <button type="submit" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>
  <form action="/contact" method="post">
    <div class="form-group">
      <label for="cont"><span class="cont">New Contact Number :</span></label>
      <input type="tel" class="form-control" id="cont" name="contact" placeholder="Enter your new contact number" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}" oninvalid="this.setCustomValidity('Contact Number is either empty or invalid.')" oninput="this.setCustomValidity('')">
    </div>
    <button class="btn btn-primary btns">Submit</button>
  </form>
</div>
</div>
<hr>
<div class="city">
<h1>Change City</h1>
<% if(successCity.length>0){ %>
  <div class="alert-success alert alert-dismissible fade show" role="alert" style="font-size: 18px;">
      <%= successCity %>
      <button type="submit" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% } %>
<form action="/city" method="post">
  <div class="form-group">
    <label for="city"><span class="city">New City Name :</span></label>
    <input type="string" class="form-control" id="city" name="city" placeholder="Enter your new city name" required oninvalid="this.setCustomValidity('City is required.')" oninput="this.setCustomValidity('')">
  </div>
  <button class="btn btn-primary btns">Submit</button>
</form>
</div> -->
<!-- // USER CHANGE CONTACT NUMBER SCHEMA
const changeContSchema=new mongoose.Schema({
    contact: {
        type:Number,
        required:true,
    }
    
})
const changeCont=mongoose.model('changeCont',changeContSchema) -->

<!-- // USER CHANGE CITY SCHEMA
const changeCitySchema=new mongoose.Schema({
    city: {
        type:String,
        required:true,
    }
})
const changeCity=mongoose.model('changeCity',changeCitySchema) -->